
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    cursor: default;
}

.container1 {
	font-family: Arial, sans-serif; 
    font-size: 16px;
	font-weight: bold;
    line-height: 1.5;              
    color: #FFFFFF;                
	position: fixed;
		top: 400px;
}

.music {
	position: fixed;
}