
body {
    background-color: #0a0a0a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    cursor: default; 
}


.image {
    width: 245px;  
    height: 255px; 
    cursor: pointer; 
	#margin-top: 640px;
	#margin-left: 1650px;
}

.image {
    width: 245px;
    height: 255px;
    cursor: pointer;
    position: absolute; 
		bottom: 20px;  
		left: 1650px;  
}
	


